* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  font-family: 'Mulish', sans-serif;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url('./restaurant.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  flex-direction: row;
  background-color: #274472;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  width: 100%;
  padding: 20px;
  position: absolute;
  top: 0;
}
.heading {
  width: 45%;
  text-align: center;
  font-size: 3.5rem;
  font-family: 'Tangerine', cursive;
}

h3,
p,
.fancy-heading,
.heading {
  color: rgba(219, 211, 209, 1);
  text-shadow: 1.5px 1.5px #707070;
}

.main {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 5vh;
}
.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 8vh;
}
.fancy-heading {
  text-align: center;
  font-size: 4.2rem;
}
input {
  margin-top: 1vh;
  border-radius: 25px;
  padding: 5px;
  background-color: #ad885f;
  color: #ccc;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 40%;
}
.mini-txt {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
strong {
  color: #ad885f;
  text-shadow: none;
}
p {
  font-size: 1.12rem;
}
.icon {
  color: #ad885f;
  font-size: 1rem;
  margin-right: 10px;
}
