@import url('./index.css');
#content {
  background-color: linen;
}
.heading,
h3 {
  color: rgba(219, 211, 209, 1);
  text-shadow: 1.5px 1.5px #707070;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.title {
  font-family: 'Tangerine', cursive;
  font-size: 4rem;
  margin: 30px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 66%;
  padding: 50px;
  background-color: #c3e0e5;
  border-radius: 15px;
  margin-bottom: 8vh;
}
form {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.mini-txt {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  align-items: center;
}
.icon {
  color: #ad885f;
  font-size: 1rem;
  margin-right: 10px;
}
input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  margin: 10px 0;
  padding: 5px 0;
  width: 202px;
}
input:last-child {
  padding: 5px;
  text-align: center;
  background-color: #274472;
  border: 1px solid transparent;
  border-radius: 5px;
  width: 80px;
  color: linen;
}
textarea {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  margin: 10px 0;
  padding-bottom: 5px;
  width: 202px;
  height: 62px;
  resize: none;
  font-family: 'Mulish', cursive;
  font-weight: 500;
  color: #827587;
}
