@import url('./index.css');
.home-main {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 5vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.home-main .message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 8vh;
}
.home-main .fancy-heading {
  text-align: center;
  font-size: 4.2rem;
}
.home-main input {
  margin-top: 1vh;
  border-radius: 25px;
  padding: 5px;
  background-color: #ad885f;
  color: #ccc;
}
.home-main .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 40%;
}
.home-main .mini-txt {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
.home-main strong {
  color: #ad885f;
  text-shadow: none;
}
.home-main p {
  font-size: 1.12rem;
}
.home-main .icon {
  color: #ad885f;
  font-size: 1rem;
  margin-right: 10px;
}
